* {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.navbar .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.links a {
  padding: 5px;
}

.navbar .logo {
  font-size: 30px;
  font-weight: bold;
  font-family: Helvetica;
}

.table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.table p {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.table .item {
  display: flex;
  border: 1px solid black;
}

.id, .name , .desc, .creator {
  padding: 10px;
}

.table .id {
  width: 90px;
}

.table .name {
  width: 100px;
  text-align: left;
}

.table .desc {
  width: 200px;
  text-align: left;
}

.table .creator {
  width: 150px;
}

.create,
.edit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create form,
.edit-item form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px;
}

.create label,
.create button,
.edit-item label,
.edit-item button {
  align-self: flex-start;
}

.create input,
.edit-item input {
  width: 300px;
  height: 40px;
  margin: 10px 0;
}

.item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links a:hover {
  font-weight: bold;
  color: white;
  background-color: grey;
  border-radius: 5px;
}
