@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: TsukimiRounded;
  src: url("./fonts/TsukimiRounded-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

:root {
  --font-family: Roboto, sans-serif;

  --text-color: #0b1d18;
  --bg-color: #e9f6f2;
  --primary-color: #328169;
  --secondary-color: #d7efe8;
  --accent-color: #399378;

  --yellow: #e9c46a;
  --orange: #f4a261;
  --dark-orange: #e76f51;
  --red: #d90429;
}
